/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 23-oct-2014, 17:07:59
    Author     : miguelet
*/



            body {
                background-color: darkslateblue;

            }


            body table {

                background-color: buttonface;
            }
            tr {

                 background: aquamarine;
            }

            body{
                text-align: center;
            }
            #tabla{
                 margin-left: auto;
                 margin-right: auto;
                 top: 10%;
                 border :12px solid blue;
            }
            #titol{

                background-color: blue;
                bottom: 8%;
            }
