<h2>Latest Release</h2>
<p>
    The latest release is
    <a href="http://sourceforge.net/projects/jscover/files/JSCover-0.2.2.zip/download" target="_blank">v0.2.2</a>.
    See the
    <a href="https://github.com/tntim96/JSCover/blob/master/History.md" target="_blank">release notes</a>
    for more information.
</p>

<h2>All Downloads</h2>
<p>
    All downloads can be accessed from the
    <a href="https://sourceforge.net/projects/jscover/files/" target="_blank">SourceForge downloads page</a>.
</p>

<h2>Older Downloads</h2>
<p>
    Older downloads can be accessed from the
    <a href="https://github.com/blog/1302-goodbye-uploads" target="_blank">now obsolete</a>
    <a href="https://github.com/tntim96/JSCover/downloads" target="_blank">GitHub downloads page</a>.
</p>
