html{
	overflow-x: hidden;
	overflow-y: hidden;
}

body{
	background-color: #c0dbf0;
	padding: 0px;
   
}


#base{
	position: absolute;
	width: 130vh;
	height: 100vh;
	top: 0px;
	right: -130vh;
	/*left: 26.9%;*/
	/*display: none;*/
	background-color: white;
    z-index: 100;
}

.dal_baix{
    position:absolute;
    clear: both;
    left:-25%;
    top: 43%;
    z-index: 3;
   
}
#container img#image1{
    position:absolute;
    top:23%;
    left:-25%;
}
#container img#image2{
    position:absolute;
    top:44%;
    left:-550px;
}
#container{
    z-index: 20;
    background-color: #c0dbf0;
}