.text_page_title{
    position:absolute;
    bottom:450px;
    padding:0px;
    width:900px;
    height:0px;
    line-height:22px;
    font-size:16px;
    left:50%;
    color:#FFF;
    margin-left:-400px;
    vertical-align:bottom;
    z-index:12;

}
.footer_text{
    position:absolute;
    color:#454545;
    font-size:20px;
    background-color:white;
    left:75%;
    bottom:10px;
    padding:5px 10px 5px 10px;
}

.text_page{
    position:absolute;
    font-size:16px;
    background-color:white;
    background-size: 50% 100%;

}
.block_text span.description{
    /*display: inline-block;*/
    display: table-cell;
    height:360px;
    vertical-align:middle;
    line-height: 22px;
    background-color:white;
    padding:0px 40px 60px 40px;

    /*vertical-align: middle;*/
}
.block_text {
    display:table;
    float:left;
    width:400px;
    height:360px;
    background-color:white;


}
