html{
	overflow-x: hidden;
	overflow-y: hidden;
}

body{
    margin: 0;
       
}
.dal_baix{
    position:absolute;
    clear: both;
    left:-25%;
    top: 43%;
    z-index: 5;
    display: block;
   
}
.buttonControl{
    display:block;
    margin-bottom:-15px;
    z-index: 20;
}
#contenedor2{
   position: absolute;
    float: right;
    display: inline;
/*      width:100%;*/
}
#principal {
     position: absolute;
    display: inline;
    width:100%;
height: 100vh;
     background-color:#C0DBF0;  

   
}
#accordion{
    position: absolute;
    left:60%;
    top:25%;
    width: 100%;
     margin-top: 300px;
}

.title{
     margin-left: 800px;
    
}

.texto{
   position: absolute;
    top: -1000px;
    width: 300px;
    display: block;
    left : 70%;
    
}
.titulo{
    position: absolute;
    left : 55%;
    display: inline;
    top: -45%;
    font-size: 4vw;
   
    
}

#container img#image1{
    position:absolute;
    top:23%;
    left:-25%;
}
#container img#image2{
    position:absolute;
    top:44%;
    left:-550px;
}
#container{
     
    width:100%;
    height: 100%;
    float:right;
   
}
.menu{
	
    width: 415px;
	height: 22px;
	margin: 9px 25px 9px 25px;
	padding: 14px 0px 14px 0px;
	background-color: white;
	text-align: center;
	font-weight: bold;
	color: red;
	cursor: pointer;
    margin-left:  500%;
    
  
}
