/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 04-dic-2014, 19:23:53
    Author     : v2daw
*/

body{overflow-y: hidden; overflow-x: hidden;}

.vegas-loading {
    border-radius: 10px;
    background: #000;
    background: rgba(0,0,0,0.7);
    //background: url(js/vegas/images/loading.gif) no-repeat center center; /* Loading Gif by http://preloaders.net/ */
    height: 32px;
    left: 20px;
    position: fixed;
    top: 20px;
    width: 32px;
    z-index: 0;
}

.vegas-overlay {
  //  background: transparent url(js/overlays/01.png);
    opacity: 0.5;
    z-index: -1;
}



.vegas-background {
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    max-width: none !important; /* counteracts global img modification by twitter bootstrap library */
    z-index: -2;
}

.vegas-overlay,
.vegas-background {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.amagar{
   text-shadow: -0.5px -0.5px 0.5px #0f1945, 0.5px 0.5px 0.5px #0f1945, -0.5px 0.5px 0.5px #0f1945, 0.5px -0.5px 0.5px #0f1945;
}

*{
    font-family: OCRA
}
#mail{
    position: absolute;
    width: 5%;
    height: 7%;
    top: 0px;
    background-size: 100% 100%;
    left: 0px;
    background-image: url(../buttons/Button_mail.png);
    display: inline-block;

    cursor: crosshair;
}

#twitter{
    position: absolute;
    width: 5%;
    height: 7%;
    top: 0px;
    left: 5.5%;
    background-size: 100% 100%;
    background-image: url(../buttons/Button_twitter.png);
    display: inline-block;
    cursor: crosshair;
}


#lema{
    position: absolute;
    width: 25%;
    height: 10%;
    bottom: 0px;
    left: 0%;
    display: inline-block;
    font-size:  1.5vw;
      font-family:"Tetris Mania Type";
      text-shadow: -0.5px -0.5px 0.5px #0f1945, 0.5px 0.5px 0.5px #0f1945, -0.5px 0.5px 0.5px #0f1945, 0.5px -0.5px 0.5px #0f1945;
    -webkit-text-fill-color: white;
	color:white;
	-webkit-text-stroke: 0.5px #0f1945;
	opacity:1;
}




#botton_home{
    position: absolute;
    bottom:15px !important;
    right:50% !important;
    width: 5%;
    height: 7%;
    display: inline-block;
    opacity:1;
    position: absolute;

    background-size: 100% 100%;
    background-image: url(../buttons/Button_home.png);
    display: inline-block;
}



#iest{
    position: absolute;
    width: 10%;
    height: 10%;
    bottom: 1%;
    right:  2%;
    display: inline-block;


}
#estacioText{
        font-family:"Tetris Mania Type";
	position:absolute;
	bottom:5% !important;
	right:35% !important;
        font-size: 2vw;
  font-family:"Tetris Mania Type";
	text-shadow: -0.5px -0.5px 0.5px #0f1945, 0.5px 0.5px 0.5px #0f1945, -0.5px 0.5px 0.5px #0f1945, 0.5px -0.5px 0.5px #0f1945;
    -webkit-text-fill-color: white;
	color:white;
	-webkit-text-stroke: 0.5px #0f1945;
	opacity:1;

}
#IESlogo{
	position:absolute;
	bottom:35px !important;
	right:60% !important;
	text-shadow:-4px 1px 18px #000000;
	width: 55px;
	height: 50px;
}

#facebook{
    position: absolute;
    width: 5%;
    height: 7%;
    top: 0px;
    left: 11%;
    background-image: url(../buttons/Button_facebook.png);
    background-size: 100% 100%;
    display: inline-block;
    cursor: crosshair;

}



.damun{
 padding-top: 25%;
 padding-left:  25%;
 border:1px solid green;

}
#logo{
    position: absolute;
    width: 25%;
    height: 10%;
    left: 50%;
    top:7%;
    transform: translate(-50%, -50%);
  font-family: "OCRA";
    margin: 0px;
    font-size: 1vw;
    text-shadow: 0 0 10px #5399F6,
        0 0 20px #5399F6,
        0 0 25px #5399F6,
        0 0 35px #5399F6,
        0 0 55px #5399F6,
        0 0 70px #5399F6,
        0 0 90px #5399F6,
        0 0 120px #5399F6;
    color: honeydew;
     text-align: center;

}

#full-screen{
    background-size: 100% 100%;
    position: absolute;
    width: 5%;
    height: 7%;
    top: 0px;
    right: 0px;
    background-image: url(../buttons/Button_fullscreen.png);
    display: inline-block;
    cursor: pointer;
}
#fulls-creen{
    background-size: 100% 100%;
    position: absolute;
    width: 5%;
    height: 7%;
    top: 0px;
    right: 0px;
    background-image: url(../buttons/Button_fullscreen.png);
    display: inline-block;
    cursor: pointer;
}

#contenedor{

    position: absolute;
    width: 60%;
    height: 20%;
    margin: 0 auto;
    bottom: -80%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.caption{
  position:absolute;
	left:10%;
	bottom:3.5%;
        font-size: 1.3vw;

}
.enfasis{
font-family:"OCRA";
     font-size: 2vw;
    color : blue;
    text-transform: uppercase;
}
.capitalize{
    font-size : 2vw;
    color : cyan;
    text-transform: capitalize;
    font-family:"OCRA";

}



#uno{
    position: absolute;
    width: 18.5%;
    height: 98%;
    left: 0%;

    background-size: 100% 75%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#dos{
    position: absolute;
    width: 18.5%;
    height: 98%;
    left: 19.5%;

    background-size: 100% 75%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#tres{
    position: absolute;
    width: 18.5%;
    height: 98%;
    left: 39%;

    background-size: 100% 75%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#cuatre{
    position: absolute;
    width: 18.5%;
    height: 98%;
    left: 58%;
    margin-left: 4px;

    background-size: 100% 75%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#cinc{
    position: absolute;
    width: 18.5%;
    height: 98%;
    left: 78.5%;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
@font-face {
    font-family: OCRA;
    // font-style: normal;
    //font-weight: normal;
    src: url(font/OCRA.otf);
}

h1{
    font-family: "OCRA";
    margin: 0px;
    font-size: 38px;
    text-shadow: 0 0 10px #5399F6,
        0 0 20px #5399F6,
        0 0 25px #5399F6,
        0 0 35px #5399F6,
        0 0 55px #5399F6,
        0 0 70px #5399F6,
        0 0 90px #5399F6,
        0 0 120px #5399F6;
    color: honeydew;

}


#texto_1{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 500%;
    top:50%;
    transform: translate(-50%, -50%);
  font-size: 2vw;
  font-family:"Tetris Mania Type";
	text-shadow: -0.5px -0.5px 0.5px #0f1945, 0.5px 0.5px 0.5px #0f1945, -0.5px 0.5px 0.5px #0f1945, 0.5px -0.5px 0.5px #0f1945;
-webkit-text-fill-color: white;
	color:white;
	-webkit-text-stroke: 0.5px #0f1945;
	opacity:1;
}
#texto_2{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 500%;
    top:50%;
    transform: translate(-50%, -50%);
   font-size: 2vw;
   font-family:"Tetris Mania Type";
	text-shadow: -0.5px -0.5px 0.5px #0f1945, 0.5px 0.5px 0.5px #0f1945, -0.5px 0.5px 0.5px #0f1945, 0.5px -0.5px 0.5px #0f1945;
-webkit-text-fill-color: white;
	color:white;
	-webkit-text-stroke: 0.5px #0f1945;
	opacity:1;
}
#texto_3{
 position: absolute;
    width: 50%;
    height: 50%;
    left: 500%;
    top:50%;
    transform: translate(-50%, -50%);
   font-size: 2vw;
   font-family:"Tetris Mania Type";
	text-shadow: -0.5px -0.5px 0.5px #0f1945, 0.5px 0.5px 0.5px #0f1945, -0.5px 0.5px 0.5px #0f1945, 0.5px -0.5px 0.5px #0f1945;
-webkit-text-fill-color: white;
	color:white;
	-webkit-text-stroke: 0.5px #0f1945;
	opacity:1;
}
#texto_4{
   position: absolute;
    width: 50%;
    height: 50%;
    left: 500%;
    top:50%;
    transform: translate(-50%, -50%);
   font-size:2vw;
   font-family:"Tetris Mania Type";
	text-shadow: -0.5px -0.5px 0.5px #0f1945, 0.5px 0.5px 0.5px #0f1945, -0.5px 0.5px 0.5px #0f1945, 0.5px -0.5px 0.5px #0f1945;
-webkit-text-fill-color: white;
	color:white;
	-webkit-text-stroke: 0.5px #0f1945;
	opacity:1;

}



.damun:hover{
		transform : scale(2);
		-moz-transform : scale(2); /* Firefox */
		-webkit-transform : scale(2); /* Chrome - Safari */
		-o-transform : scale(2); /* Opera */
		-ms-transform : scale(2); /* IE9 */
	}



/*----------*/

#lgbx,
#lgbx_bcg { position: fixed }

#lgbx_bcg {
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0,0,0,0.8)
}

#lgbx {
    background: #FFF;
    padding: 5px;
    z-index: 55;
    top: 0;
    left: 0
}

#lgbx_close,
#lgbx_desc,
#lgbx_next,
#lgbx_prev {
    position: absolute;
    z-index: 56;
    display: none
}

#lgbx_close {
    z-index: 56;
    right: 9px;
    top: 9px;
    cursor: pointer;
    width: 15px
}

#lgbx_desc {
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    padding: 5px 8px 1px;
    font-size: 12px
}

#lgbx_next,
#lgbx_prev {
    cursor: pointer;
    top: 50%;
    margin-top: -20px;
    height: 40px
}

#lgbx_next { right: 5px }

#lgbx_prev { left: 5px }

