/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 04-dic-2014, 0:06:59
    Author     : miguelet
*/

.logo{
    position: absolute;
    z-index: 5000;
    padding: 10px;
}

.logo a{
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.menu-nav{
    float: right;
}

#menu-s{
    background-color: #FF0040;
    width: 100%;
    height: 60px;
    margin: 0px;
}

.menu>ul>li{
    float: left;
    margin-left: 15px;
    font-size: 18px;
    position: relative;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
}

.menu li{
    color: #fff;
    list-style-type: none;
}

.menu a{
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
}

.menu li>a:hover, li>a:focus{

    background-color: #FAFAFA;
    border-radius: 10px;
    height: 30px;
    color: #01A9DB;
    margin-left: 15px;
    margin-right: 10px;
}
.head-image img{
    width: 100%;
    height:400px;

}

.fila{
    width: 100%;
}

.contenido{
    width: 80%;
    height: auto;
    float: right;
    margin-right: 5px
}

.sidebar{
    width: 10%;
    height: auto;
    float: left;

}

.sidebar p{
    text-align: justify;
}

.art p{
    text-align: justify;
}
.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    float: left;
    background-color: #01A9DB;
}

.footer p{
    padding: 20px;
    font-size: 20px;
    color: #fff;
}

.footer a{
    text-decoration: none;
    color: #D7DF01;
    font-weight: bold;
    text-shadow: 0px 0px 0.5px #fff;
}

.footer a:hover{
    color: #FF0040;
    text-shadow: 0px 0px 5px #fff;
}
