/*
    jscoverage.css - code coverage for JavaScript
    Copyright (C) 2007, 2008, 2009, 2010 siliconforks.com

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
*/

body {
  background-color: #bfffbf;
  font-family: sans-serif;
  font-size: 100%;
  margin: 0;
}

#mainDiv {
  font-size: 0.8125em;
}

#headingDiv {
  position: absolute;
  top: 0.5em;
  left: 1.5em;
  right: 1.5em;
  bottom: 0;
  line-height: 1.5em;
}

h1 {
  float: left;
  margin: 0;
  padding-bottom: 0.5em;
  font-size: 1.3em;
}

.ProgressBar {
  float: left;
  visibility: hidden;
}

.ProgressPercentage {
  display: block;
  float: left;
  width: 5em;
  text-align: right;
}

.ProgressGraph {
  float: left;
  width: 100px;
  height: 10px;
  border: 1px solid black;
  margin-top: 0.3em;
  background-color: #d4d0c8;
  overflow: hidden;
}

.ProgressCovered {
  /* windows system color ActiveCaption or Highlight */
  background-color: #0a246a;
  width: 0;
  height: 10px;
  overflow: hidden;
}

#progressLabel {
  display: block;
  float: left;
  padding-left: 0.3em;
}

/*******************************************************************************
browser tab
*/

input#location, button {
  border: 1px solid black;
  margin-left: 1px;
  margin-right: 1px;
}

#iframeDiv {
  position: absolute;
  top: 3.5em;
  left: 1em;
  right: 1em;
  bottom: 1em;
}

iframe {
  width: 100%;
  height: 100%;
}

/*******************************************************************************
summary tab
*/

#summaryDiv {
  position: absolute;
  top: 3em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow: auto;
}

table#summaryTable {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  border-collapse: collapse;
  font-size: small;
}

table#summaryTable th, table#summaryTable td {
  border-left: 1px solid #d9d9d9;
}

table#summaryTable th.leftColumn, table#summaryTable td.leftColumn {
  border-left-width: 0px;
}

table#summaryTable th, table#summaryTable td {
  padding: 2px;
}

th {
  background-color: #e6ffe6;
}

td.numeric {
  text-align: right;
}

abbr {
  cursor: help;
}

tr#summaryTotals td.leftColumn span {
    float: right;
}
tr#summaryTotals td.leftColumn span.title {
    float: left;
    font-weight: bold;
}
tr#summaryTotals td {
    background-color: #ffd;
}
td.coverage {
    width: 150px;
}
td.coverage span {
    float: right;
    margin-right: 5px;
}
.pctGraph {
    width: 100px;
    height: 10px;
    float: right;
    border: 1px solid #000;
    background-color: #e00000;
    overflow: hidden;
    margin-top: 4px;
}
.pctGraph .covered {
    background-color: #00f000;
    width: 0;
    height: 10px;
}
.pctGraph .skipped {
    background-color: #d4d0c8;
    width: 100px;
    height: 10px;
}
tbody#summaryTbody tr.even td {
    background-color: #e6ffe6;
}

/*******************************************************************************
source tab
*/

#fileDiv {
  font-size: large;
  font-weight: bold;
}

#sourceDiv {
  position: absolute;
  top: 3em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow: auto;
}

table#sourceTable {
  border: 0px;
  border-collapse: collapse;
  font-size: small;
}

/*
IE default behavior is to make <pre> smaller than surrounding text.  Because
the table already has font-size small, this would make the font-size within the
<pre> x-small.  So we don't rely on the default.
*/
table#sourceTable pre {
  font-size: medium;
}

table#sourceTable td {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

table#sourceTable pre {
  border: 0px;
  margin: 0px;
}

.g {
  background-color: #bfffbf;
}

.y {
  background-color: #ffffbf;
}

.r {
  background-color: #ffbfbf;
}

/*******************************************************************************
store tab
*/

#storeDiv {
  position: absolute;
  top: 3em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  overflow: auto;
}

/*******************************************************************************
about tab
*/

p {
  margin-top: 0;
}

/*******************************************************************************
tabs
*/

#tabs {
  position: absolute;
  top: 3em;
  left: 1.5em;
  right: 1.5em;
  height: 2em;
}

#tabs div {
  background-color: white;
  position: relative;
  float: left;
  border: 1px solid black;
  border-bottom-width: 0;
  cursor: pointer;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 2em;
  z-index: 1;
  line-height: 1.8em;
}

#tabs div.selected {
  z-index: 3;
  cursor: default;
}

#tabs div.disabled {
  /* windows system color GrayText */
  color: #808080;
  cursor: default;
}

.TabPage {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 5em;
  left: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
  z-index: 2;
  padding: 1em;
  display: none;
}

#tabPages div.selected {
  display: block;
}

img {
  visibility: hidden;
}
