html, body{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/tactile_noise.png");
    background-color: #222;
    font-family: helvetica, arial, sans-serif;
    min-width: 900px;
}

table {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    color: #eee;
}

table th {
    border: 1px inset #333;
    padding: 2px;
    margin: 0;
}

table td {
    border: 1px inset #333;
    padding: 4px;
    margin: 0;
}

h2 {
    color: #F2D062;
}

h3{
    color: #028A9E;
}

p{
    color: #ddd;
}

ul{
    color: #ddd;
}

#container {
    clear: both;
    padding: 20px 80px;
}

.navPanel{
    position: relative;
    display: block;

    background-color: #023550;
    background-image: -moz-linear-gradient(top, #024366 0%, #023550 100%);
    background-image: -webkit-linear-gradient(top, #024366 0%,#023550 100%);
    background-image: -ms-linear-gradient(top, #024366 0%,#023550 100%);
    background-image: linear-gradient(to bottom, #024366 0%,#023550 100%);

    font-family: "Titillium Web", Arial, serif;
    padding: 10px 50px;
    color: #fff;
    line-height: 36px;
    height: 36px;

    -moz-box-shadow: 0px 1px 5px #000;
    -webkit-box-shadow: 0px 1px 5px #000;
    -ms-box-shadow: 0px 1px 5px #000;
    box-shadow: 0px 1px 5px #000;
}

.brand{
    float: left;
    font-weight: 900;
    font-size: 36px;

    -moz-text-shadow: 0px -1px 1px #000;
    -webkit-text-shadow: 0px -1px 1px #000;
    -ms-text-shadow: 0px -1px 1px #000;
    text-shadow: 0px -1px 1px #000;

    cursor: pointer;
}

#nav{
    float: right;
    font-size: 20px;
}

.navButton{
    padding: 0 10px;
    cursor: pointer;
}

.navButton:hover{
    color: #F2C12E;
    text-decoration: none;
}

.navButton, a{
    color: #fff;
    text-decoration: none;
}

.selected {
    font-weight: bold;
    background: #a0b8ff;
}

.shell {
    border: 1px solid #000;
    margin: 5px;
    padding: 10px;
    background: #111;
    color: #F2D281;

    -moz-box-shadow: inset 0px 0px 5px #000;
    -webkit-box-shadow: inset 0px 0px 5px #000;
    -ms-box-shadow: inset 0px 0px 5px #000;
    box-shadow: inset 0px 0px 5px #000;
}

#license{
    background-color: #ccc;
    padding: 20px 40px;
    width: 700px;
}

a{
    color: #04BFBF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
